.schedule
{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 0px;
}
.schedule__text
{
    max-width: 50%
}
.schedule__text h1
{
    color: var(--primaryTextColor);
    font-family: var(--headerFontFamily);
}
.schedule__text p
{
    font-size: 20px;
    line-height: 1.93rem;
    color: var(--primaryColor-light);
}
.schedule__table
{
    width: 500px;
    padding: 0px 10px;
}
.schedule__table__text
{
    padding: 16px 10px;
    background-color: rgba(111,35,255,.67);
    color: #fff;
}
.schedule__table__text h3
{
    margin: 0px;
    font-size: 20px;
    font-family: var(--headerFontFamily);
    font-weight: 700;
}
.schedule__table__text p
{
    margin: 0px;
    margin-top: 10px;
}
.schedule__table__program
{
    margin-bottom: 10px;
    display: flex;
    padding-left: 10px;
    box-shadow: 0 2px 4px 0 hsl(0deg 0% 73% / 50%);
    align-items: center;
   
}
.schedule__table__program .time,
.schedule__table__program .activity
{
    display: flex;
    margin: 0px;
    align-items: center;
    height: 60px;
   
}
.schedule__table__program .time
{
    padding-right: 20px;
    color: var(--primaryColor-light);
    border-right: .5px solid rgba(82, 81, 81, 0.212);
}

.schedule__table__program .activity
{
    margin-left: 20px;
    color: var(--primaryTextColor);
}
@media(max-width: 768px)
{
    .schedule
    {
        padding: 100px 50px;
    } 
}
@media(max-width: 425px)
{
    .schedule
    {
        padding: 0px 50px;
        flex-direction: column;
    }
    .schedule__text
    {
        max-width: 100%
    }
    .schedule__table
    {
        width: 100%;
    }
}
