.footer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    color: white;
    padding: 50px 100px;
    background-color: #3e396b;
}
.footer-card4
{
    width: fit-content;
    max-width: 320px;
}
.footer-card4__icons
{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-card4__icons i
{
    font-size: 35px;
}

@media(max-width: 768px){
    .footer
    {
        padding: 50px;
        justify-content: space-between;
    }
    .footer-card4
    {
        max-width: 250px;
    }
}

@media(max-width: 425px)
{
    .footer
    {
        gap: 1rem;
    }
}