.main-button
{

    text-align: center;
    padding: 10px 30px;
    border: none;
    background: var(--btn1Color);
    border-radius: 3px;
    font-weight: 700;
}
.main-button span
{
    font-weight: 600;
}
.main-button:hover span
{
    opacity: 0.7;
}